@import '../../style.scss';

.profile {
    @include themify($themes) {
        background-color: themed("bgSoft");
      padding-left: 5px;

        .imges {
            width: 100%;
            height: 300px;
            position: relative;

            .cover {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .profilepic {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: 200px;
            }
        }
        .profilecontainer{
            padding: 20px 60px;
             .userinfo{
            height: 100px;
            box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            border-radius: 20px;
            background-color: themed("bg");
            color: themed("textColor");
            padding: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left{flex: 1;
            display: flex;
            gap: 10px;
            @include mobile{
               flex-direction: column;
               margin-top: 10px;
            }
            @include tablet{
               padding: 20px;;
              }
            }
            .center{flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px; margin-top: 5px;
                span{
                   
                    font-size: 30px;
                    text-decoration: none;
                    
                }
                button{
                  
                    border-radius: 5px;
                
                   font-size: x-large;
                   color: themed("textColor");
                   border: none;
                   background-color: #5217ff;
                   cursor: pointer;
                   padding: 5px;
                }
            }
            .right{flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 10px;
            }
        }

        }
       
    }
}